# Do not use add_service() as hal_graphics_composer_default may be the provider as well
#allow hal_livedisplay_default qdisplay_service:service_manager find;

#binder_call(hal_livedisplay_default, hal_graphics_composer_default)

# Allow LiveDisplay to store files under /data/vendor/display and access them
#allow hal_livedisplay_default display_vendor_data_file:dir rw_dir_perms;
#allow hal_livedisplay_default display_vendor_data_file:file create_file_perms;

# Allow LiveDisplay to access pps socket
#unix_socket_connect(hal_livedisplay_default, pps, mm-pp-daemon)
