allow servicemanager sensorservice:dir search;
allow servicemanager sensorservice:file { open read };
allow servicemanager sensorservice:process getattr;
