allow servicemanager sensorservice:dir search;
allow servicemanager sensorservice:file { open read search };
allow servicemanager sensorservice:process getattr;
